<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/logo.svg" width="100" />
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/home']">
        <ion-icon slot="icon-only" name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="listado">
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(2.3,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
    <div class="cuadro">
      <ion-icon name="ellipse" [ngClass]="GetClass(3.8,4,2)"></ion-icon> 00:00 0.23€
    </div>
  </div>
</ion-content>