
#listado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.cuadro {
    margin: 0;
    padding: 0;
    width: 50%;
    border: 1px solid rgb(173, 173, 173);
    background: #fff;
    height: 8.33%;
    text-align: center;
    font-size: 20px !important;
    font-weight: bold;
    font-family: 'Ubuntu';
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #000;
}

.cuadro ion-icon{
    font-size: 30px !important;
}

.rojo {
    color: #CD4765;
  }
  
  .amarillo {
    color: #F0E459;
  }
  
  .verde {
    color: #71bd25;
  }

  .dif{
    color: #666;
  }