<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/logo.svg" width="100" />
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/home']">
        <ion-icon slot="icon-only" name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <p>{{encabezadoElectro}}</p>
  <div id="listado">
    <div class="cuadro" *ngFor="let precio of this.precios; let i = index">
      <ion-icon name="ellipse" [ngClass]="GetClass(precio)"></ion-icon> <span
        class="dif">{{apireeService.horas[i]}}</span>
      {{precio | number: '1.2-2'}}€
    </div>
  </div>
</ion-content>