<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/logo.svg" width="100" />
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/home']">
        <ion-icon slot="icon-only" name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Configuración</h1>

  <div class="recuadro">
    <ion-list>
      <ion-item>
        <ion-label>Elige electrodoméstico</ion-label>
        <ion-select okText="aceptar" cancelText="cancelar" [(ngModel)]="itemSelecConfig" [compareWith]="compareWith"
          (ngModelChange)="guardarOpcionConfig()">
          <ion-select-option value="noElegidoElectro">{{'No elegido'}}</ion-select-option>
          <ion-select-option *ngFor="let electro of electrodomesticos" [value]="electro">{{electro.nombre
            + ' (' +
            electro.consumo + 'wh)'}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>

  <p class="nuevoelectro"><strong>Nuevo electrodoméstico</strong></p>

  <div class="recuadro">
    <form [formGroup]="formulario" (ngSubmit)="guardarElectro(formulario.value)">
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input placeholder="Introducir nombre" formControlName="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Consumo</ion-label>
        <ion-input placeholder="Introducir consumo Wh" formControlName="consumo" type="number"></ion-input>
      </ion-item>

      <ion-button size="small" class="btnCrear" [disabled]="!formulario.valid" type="submit">CREAR</ion-button>
    </form>

    <p class="notaformu">Hay que introducir el consumo (Wh) del programa que uses habitualmente.</p>
  </div>

  <p class="nuevoelectro"><strong>Eliminar electrodoméstico</strong></p>
  <div class="recuadro">
    <ion-list>
      <ion-item>
        <ion-label>Electrodoméstico</ion-label>
        <ion-select okText="aceptar" cancelText="cancelar" [(ngModel)]="itemSelecEliminar"
          (ngModelChange)="eliminarElectro()">
          <ion-select-option *ngFor="let electro of electrodomesticos" [value]="electro">{{electro.nombre + ' (' +
            electro.consumo + 'wh)'}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>

</ion-content>