.recuadro{
    border: 1px solid #5c5c5c;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 5% 2px;
    text-align: center;
  }

  .nuevoelectro {
    font-size: 20px !important;
    margin: 20px 5% 5px;
    padding: 0;
    text-align: left;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    font-weight: bold;
  }