<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/logo.svg" width="100" />
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/configuracion']">
        <ion-icon slot="icon-only" name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <h1>
      Precios para el {{fecha}}
    </h1>
    <div>
      <ion-button class="botonlista" [routerLink]="['/listado']">
        <ion-icon name="list" class="iconolista"></ion-icon> 24H
      </ion-button>
      <ion-button class="botonlista" [routerLink]="['/charts']">
        <ion-icon name="analytics-outline" class="iconolista"></ion-icon> Mes
      </ion-button>
      <ion-button *ngIf = "hora >= 21" class="botonlista" (click)= "cambiarFecha()">
        <ion-icon name="calendar-outline" class="iconolista"></ion-icon> {{textoDia}}
      </ion-button>
    </div>

    <div class="recuadro peq">
      <p class="titulorecuadro">Electrodoméstico</p>
      <div class="horaypreciorec">
        <p class="nombrerecuadro">{{nombreelectro}}</p>
      </div>
    </div>

    <div class="recuadro">
      <p class="titulorecuadro">Precio mas barato</p>
      <div class="horaypreciorec">
        <p class="horarecuadro">{{horaMin}}</p>
        <p class="preciorecuadro">{{this.precioMin | number: '1.2-2'}}€</p>
      </div>
    </div>

    <div class="recuadro">
      <p class="titulorecuadro">Precio mas barato de 08:00 a 22:00</p>
      <div class="horaypreciorec">
        <p class="horarecuadro">{{horaMinEntre}}</p>
        <p class="preciorecuadro">{{this.precioMinEntre | number: '1.2-2'}}€</p>
      </div>
    </div>

    <div class="recuadro">
      <p class="titulorecuadro">Precio medios último mes</p>
      <div class="preciosmes">
        <div class="gris">Mín.</div>
        <div class="gris">Máx.</div>
        <div class="gris">Med.</div>
        <div class="verde recuadrocolores"><strong>{{preciomin15dias| number: '1.2-2'}}€</strong></div>
        <div class="rojo recuadrocolores"><strong>{{preciomax15dias| number: '1.2-2'}}€</strong></div>
        <div class="amarillo recuadrocolores"><strong>{{preciopromedio15dias| number: '1.2-2'}}€</strong></div>
      </div>
    </div>


    <p class="nota">Los precios se actualizan a las <strong>21:00</strong>. El precio que se muestra, es un coste
      <strong>aproximado</strong>.
    </p>
  </div>
</ion-content>