$verde: #4caf50;

.rojo {
  background-color: #CD4765;
  color: white;
}

.amarillo {
  background-color: #F0E459;
  color: #333;
}

.verde {
  background-color: #71bd25;
  color: black;
}

.recuadrocolores{
  margin-bottom: 6px;
  border: 1px solid #666;
}

.recuadro{
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 5.3em;
  background-color: #dedede;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px 7%;
  box-shadow: rgba(22, 22, 22, 0.479) 3px 3px 5px;
}

.titulorecuadro, .pierecuadro{
  padding: 4px 8px;
  text-align: left;
  font-size: 14px !important;
}

.titulorecuadro {
  background-color: $verde;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px  #2c2c2c;
}

.pierecuadro {
  background-color: #b2c5c6;
  color: #000;
  text-align: center;
}

.horaypreciorec{
  display: flex;
  justify-content: space-around;
  align-content: space-between;
}

.horarecuadro, .preciorecuadro
 {
  font-size: 40px !important;
  font-weight: bold;
  font-family: 'Ubuntu' !important;
  padding-top: 0.1em;
}

.nombrerecuadro {
  font-size: 20px !important;
  font-weight: bold;
  font-family: 'Ubuntu' !important;
  text-align: left;
  padding-left: 10px;
  color: #000;
  padding-top: 0.4em;
}

.preciorecuadro {
  color: $verde;
  text-shadow: #333 2px 2px;
}

.horarecuadro {
   color: #000;
  }
  
.botonlista {
  font-size: 14px;
  font-weight: bold;
  min-width: 25%;
  margin: 5px;
  --background: #4caf50;
}

.iconolista {
  padding-right: 5px;
  font-size: 20px;
}

.preciosmes {
  font-size: 20px !important;
  font-weight: bold;
  font-family: 'Ubuntu' !important;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  padding-top: 0.2em;
}

.preciosmes div{
  width: 30% !important;
}

.peq{
  height: 4em;
}

.gris {
  color: #666;
}

h1 {
  font-size: 2.3em;
  padding-top: 0.2em;
}